@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-05-09 10:06:27
 * @version $Id$
 */
* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background: #fff;
    font-family: "Microsoft YaHei";
    font-size: 16px;
    height: 100%;
}

img {
    border: 0;
}
a {
    text-decoration: none;
    color: #333;
}
.content{
	position: relative;
	width: 1200px;
	margin: 0px auto;
}
.content .title{
	width: 920px;
	margin: 0px auto;
}
.content1 .title{
	width: 1200px;
	margin: 0px auto;
}
.content1 .title img{
	vertical-align: middle;
	width: 543px;
}
.content .title img{
	vertical-align: middle;
	width: 400px;
}
.content .title span{
	color: #fff;
	padding:2px 20px 2px 20px;
	background-color: black;
	border-radius: 20px;
}
.content1 .title span{
	color: #fff;
	padding:2px 20px 2px 20px;
	background-color: black;
	border-radius: 20px;
}
.on{
 background-color: black;
 color: #fff;
}
/*头部*/
.header_top{
	background-color: #fff;
	width: 100%;
	height: 72px;
	float: left;
	margin-top: 30px;
}
header{
	background-color: #f0f0f0;
	width: 100%;
	height: 172px;
	overflow: hidden;
}
.header_main{
	width: 1200px;
	margin: 0px auto;
	overflow: hidden;
}
.header_main .logo{
	float: left;
}
.header_main .logo img{
	width: 270px;
	height: 72px;
}
.header_main .phone{
	float: right;
	text-align: right;
}

.header_main .phone div:first-child{
	vertical-align: middle;
	margin-top: 10px;
}
.header_main .phone div:first-child img{
	width: 20px;
	height: 20px;
	vertical-align: middle;
}
.header_main .phone div:first-child span{
color: red;
line-height: 20px;
vertical-align: middle;
font-size: 18px;
margin-right: 6px;
}
.header_main .phone div:last-child p{
color: #222c50;
font-size: 24px;
}
.header_nav{
	width: 1200px;
	margin: 0px auto;
}
.header_nav ul li{
	display: inline-block;
	margin: 20px 2px 20px 2px ;
	letter-spacing:4px;
}
.header_nav ul li a:hover{
    color: red;
}
.header_nav ul {
	text-align: center;
}
/*轮播*/
        .slideBox{ width:100%; height:371px; overflow:hidden; position:relative; top:0px;overflow: hidden;  }
        .slideBox .hd{ height:15px; overflow:hidden; position:absolute; left:50%;margin-left: -45px; bottom:2px; z-index:1; }
        .slideBox .hd ul{ overflow:hidden; zoom:1; float:left;  }
        .slideBox .hd ul li{ float:left; margin-right:10px;margin-left: 10px;  width: 10px;height: 10px;border-radius: 15px;  text-align:center; background:#fff; cursor:pointer; }
        .slideBox .hd ul li.on{ background:#3247a7; color:#fff; }
        .slideBox .bd{ position:relative; height:100%; z-index:0;   }
        .slideBox .bd li{ zoom:1; vertical-align:middle;}
        .slideBox .bd img{ width:100%; height:371px; display:block;  }
        .slideBox .bd a{position:absolute; left:50%;margin-left: -72px; bottom:200px; color: #000;background-color: #c2baba;padding: 6px 40px;border-radius: 20px; }
/*学校简历*/
.xxjl{
	margin-top: 60px;
}
.xxjl_main div:first-child img{
	width: 358px ;
	height: 266px;
}
.xxjl_main {
	margin-top: 10px;
	overflow: hidden;
}
.xxjl_main div:first-child {
	float: left;
}
.xxjl_main div:nth-child(2) {
	float: right;
	width: 800px ;
	height: 240px;
	margin-top: 10px;
	overflow: hidden;
	line-height: 40px;
}
.xxjl_main a:nth-child(3) {
color: red;
position: absolute;
bottom: 0px;
left: 400px;
}
/*成人学历*/
.crxl{
	margin-top: 10px;
	height: 340px;
}
.crxl{
	margin-top: 10px;
	height: 340px;
}
.crxl ul{
margin-top: 10px;
}
.crxl ul li{
	display: inline-block;
	width: 595px;
	height: 150px;
	margin-top: 10px;
}
.crxl ul li div{
	display: inline-block;
	height: 140px;
  width: 360px;

vertical-align: middle;
}
.crxl ul li div p:nth-child(2){
	margin-top: 10px;
   text-indent: 2em;
   line-height: 30px;
}
.crxl ul li div p:nth-child(3){
  text-align: right;
  color: red;
}
.crxl ul li div p:nth-child(3) a{
  
  color: red;
}
.crxl ul li div p:nth-child(1){
   font-weight: bold;
}
.crxl ul li div p{
  margin-left: 20px;
}
	
.crxl ul li img{
vertical-align: middle;
width: 226px;
height: 145px;
}
/*新闻中心*/
.xwzx{
	margin-top: 40px;
	overflow: hidden;
}
.xwzx .title{
	margin-bottom: 20px;
	
}
.xwzx_slide{
	width: 485px;
	height: 315px;
	float: left;
}
.slideBox1{ width:100%; height:315px; overflow:hidden; position:relative;border:1px solid #ddd;  }
        .slideBox1 .hd{ height:45px;width: 100%; overflow:hidden; position:absolute; right:0px;bottom: 0px; z-index:1;}
        .slideBox1 .hd ul{ overflow:hidden; zoom:1; float:right; margin-top: 12px; }
        .slideBox1 .hd ul li{ float:left; margin-right:10px;  width: 24px;height: 24px;border-radius: 24px;  text-align:center;  cursor:pointer;color: #fff; }
        .slideBox1 .hd ul li.on{ background-color: #fff; color:black; }
        .slideBox1 .bd{ position:relative; height:100%; z-index:0;  background-color: #b6b2b2 }
        .slideBox1 .bd li{ zoom:1; vertical-align:middle;}
        .slideBox1 .bd img{ width:100%; height:270px; display:block;  }
        .slideBox1 .bd span{ position: absolute;bottom: 13px;left:40px;z-index:2; color: red; }
.zwzx_list ul li{
	margin-top: 10px;
	border-bottom: 1px dashed black;
	padding-bottom: 4px;
	width: 700px;
	height: 90px;
	overflow: hidden;
}
.zwzx_list ul li a p:nth-child(1){
	font-weight: bold;
}
.zwzx_list ul li a p:nth-child(2){
	margin-left: 2em;
	text-indent: 2em;
}
.zwzx_list ul li a p{
	line-height: 30px;
}
.zwzx_list{
	width: 700px;
	float: right;
}
.xwzx_learn{
	width: 100%;
	height: 36px;
	background-color: #dcdcdc;
	text-align: center;
}
.xwzx_learn a{
	line-height: 36px;
}
/*就业落户*/
.jylh{
	margin-top: 40px;
	overflow: hidden;
}
.jylh_main{
	width: 1200px;
	margin: 0px auto;
}
.jylh_nav img{
	vertical-align: middle;
}
.jylh_nav{
	margin-top: 20px;
}
.jylh_nav span {
	margin-left: 20px;
	padding:2px 10px;
    cursor:pointer;
}
.jylh_con{
	float: left;
	margin-top: 20px;
	width: 485px;
	height: 215px;
	overflow: hidden;
}
.jylh_con ul li{
display: none;
}
.jylh_con ul li div{
	height: 180px;
	width: 460px;
	float: right;
	overflow: hidden;
	line-height: 45px;
	margin-bottom: 10px;
}
.jylh_con ul li a{
   color: red;
   border: 1px solid red;
   padding: 2px 15px;
   margin-left: 60px;
}
.jylh_right{
	float: right;
	width: 700px;
}
.q{
	display: inline-block;
}
/*图片展示*/
.tpzs{
	margin-top: 20px;
}
.picScroll-left{ width: 1200px;  position:relative;  margin-top: 40px;  }
        .picScroll-left .hd{  }
        .picScroll-left .hd .prev,.picScroll-left .hd .next{ display:block;  width:20px; height:20px; float:right; overflow:hidden;
             cursor:pointer;}
        .picScroll-left .hd .next{ position: absolute;top:70px;right: -26px; background-image: url(../img/img_21.png); z-index: 999;background-size: 100% 100%;}
         .picScroll-left .hd .prev{ position: absolute;top:70px;left: -26px;background-image: url(../img/img_18.png);z-index: 999;background-size: 100% 100%; }
        .picScroll-left .hd .prevStop{ background-position:-60px 0; }
        .picScroll-left .hd .nextStop{ background-position:-60px -50px; }
        .picScroll-left .hd ul{ float:right; overflow:hidden; zoom:1; margin-top:10px; zoom:1; }
        .picScroll-left .hd ul li{ float:left;  width:9px; height:9px; overflow:hidden; margin-right:5px; text-indent:-999px; cursor:pointer; background:url("images/icoCircle.gif") 0 -9px no-repeat; }
        .picScroll-left .hd ul li.on{ background-position:0 0; }
        .picScroll-left .bd{  }
        .picScroll-left .bd ul{ overflow:hidden; zoom:1; }
        .picScroll-left .bd ul li{  float:left; _display:inline; overflow:hidden; text-align:center; margin-left: 4px; }
        .picScroll-left .bd ul li .pic{ text-align:center; }
        .picScroll-left .bd ul li .pic img{ width:194px; height:142px; display:block; border:1px solid #ccc;  }
        .picScroll-left .bd ul li .pic a:hover img{ border-color:#999;  }
        .picScroll-left .bd ul li .title{ line-height:24px;   }
/*底部*/
footer{
	width: 100%;
	height: 222px;
	background-color: #191919;
	margin-top: 60px;
	overflow: hidden;
}
.foo_nav{
overflow: hidden;
	width: 1200px;
	margin: 0px auto;
	text-align: center;
	border-bottom: 1px solid #000000;
		padding-bottom: 10px;

}
.foo_nav ul {
	margin-top: 10px;
}
.foo_nav ul li{
	display: inline-block;
	border-right: 2px solid #fff;
	width: 110px;

}
.foo_nav ul li:last-child{
	display: inline-block;
	border-right: 0px solid #fff;
	width: 110px;

}
.foo_nav ul li a{
	color: #fff;

}
.foo{
	
	width: 1200px;margin: 0px auto;text-align: center;color: #fff;
}
.foo p{
	line-height: 40px;
}
.foo p span{
	padding: 0px 10px;
}
.foo p:first-child{
	margin-top: 20px;
	border-bottom: 1px solid #000000;
}